/*el styles.css va dentro de la carpeta que quiero embellecer xD*/
/*button es una etiqueta de html*/
/*color: white;*/ /*este es el color del boton, lo usaria si el boton no tuviera imagen*/
/*background-color:;*/ /*este es el color del fondo del boton*/
/*
button{
    width: 26px;
    height: 26px;
}*/

.cuadro{
    display: flex;
    color: white;
    position: absolute;
    width: 310px;
    height: 470px;
    box-shadow: 6px 4px 37px -8px rgba(0,0,0,0.75);
    margin: 100px;
}

.mypost{
    width: 276px;
    height: 265px;
    position: absolute;
    top: 160px;
    left: 125px;
}

.profph{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 123px;
    left: 125px;
}

.likeicon{
    width: 18px;
    height: 15px;
    position: absolute;
    top: 438px;
    left: 125px;
}

.commenticon{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 438px;
    left: 160px;
}

.shareicon{
    width: 18px;
    height: 15px;
    position: absolute;
    top: 438px;
    left: 190px;
}

.saveicon{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 438px;
    left: 385px;
}

.settingsicon{
    width: 15px;
    height: 3px;
    position: absolute;
    top: 135px;
    left: 385px;
}

.nickname{
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 123px;
    left: 162px;
}

.views{
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 450px;
    left: 123px;
}

.nicknamedescr{
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 470px;
    left: 123px;
}

.descr{
    color: black;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 470px;
    left: 215px;
}

.comments{
    color: gray;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 492px;
    left: 123px;
}

.date{
    color: gray;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 510px;
    left: 123px;
}

/*
top entre > sea top, más baja
left mueve a la der
*/